#header{
    margin: 0 300px 0 300px;
}

#menu {
	height: 50px;
	margin: 10px 300px 0 300px;
	font-size: 1.4em;
    background-color: #000;
}
#menu ul{
    margin-left: 300px;
    padding: 10px;
}
#menu li {
    display: inline;
    text-align: center;
    margin: 0 25px 0 25px;
}

#menu li a {
    color: #ffffff;
    text-decoration: none;
    background: none;
}

#title {
    margin: 0 300px 0 300px;
    padding-left: 20%;
}